:root{
    background-color:'#101012'
}
::-webkit-scrollbar{
    width: 4px;
    display: none;
}
.song-modal::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-track{
    background: #101012;
}
::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 1em;
}
.bg{
    background-color:'#101012'
}
.show-btns{
    background: rgba(0,0,0,0.7);
    opacity: 0;
}

.show-btns:hover{
    opacity: 1;
}

.form-control:focus{
    box-shadow: none;
}

.player{
    transition: all 350ms ease-out;
    transform: translateY(100%);
}

.player-play{
    transform: translateY(0%);
    bottom: 0 !important;
}
.player-text{
    justify-content:center;
    transform: translateX(20%);
}
.progress-btn{
    opacity: 0;
    transition: all 150ms ease-in;
}

.progress-btn:hover{
    opacity: 1;
    cursor: pointer;
}

.side-nav{
    display: flex;
}
.side-nav-open{
    display: flex;
}
.size-nav-size{
    height:100vh;
}
.nav-btn{
    display: none;
}



.slider::-webkit-slider-thumb  {
    cursor: pointer;
    opacity: 0;
    transition: all 150ms ease-in;
}

  .slider::-webkit-slider-thumb:hover {
    opacity: 1;
  }
  .slider:hover + .time-stamp{
    opacity: 1;
  }

  .card{
    max-width: 12em;
    flex-direction: column;
  }
  .time-stamp{
    font-size: 0.9em;
    opacity: 0;
  }
    @keyframes nav-btn-animate{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .show-btns{
        padding: 3rem;
        justify-content: center;
    }
    .song-modal{
        flex-direction: row;
        justify-content: space-between;
      }
      .modal-art{
        position:sticky;
        top: 0;
      }
      .modal-art>img{
        max-width: 75%;
      }
      .modal-art > div {
        max-width: 75%;
      }
      .modal-art > div >img{
        max-width: 80%;
      }
      input[type="text"]:focus{
        box-shadow: none !important;
        border-color: #1d6af7 !important;
      }
      .artist{
        max-width: 12em;
      }
      .player-text > div{
        max-width: 50%;
        
      }

.animate-eq1{
    transform-origin: bottom;
    animation: animate-eq1 150ms linear infinite alternate;
}

@keyframes animate-eq1 {
    0% {
        height: 30px;
    }
    60%{
        height: 40px;
    }
    100% {
        height: 70px
    }
}
.animate-eq2{
    transform-origin: bottom;
    animation: animate-eq2 200ms linear infinite alternate;
}

@keyframes animate-eq2 {
    0% {
        height: 30px;
    }
    60%{
        height: 40px;
    }
    100% {
        height: 70px
    }
}
.animate-eq3{
    transform-origin: bottom;
    animation: animate-eq3 180ms linear infinite alternate;
}

@keyframes animate-eq3 {
    0% {
        height: 30px;
    }
    60%{
        height: 40px;
    }
    100% {
        height: 70px
    }
}
.animate-eq{
    transform-origin: bottom;
    transition: all 150ms ease-in;
    animation: animate-eq 250ms linear forwards;
}

@keyframes animate-eq {
    0%{
        height: 30px;
    }
    100%{
        height:0px;
    }
}
 
.modal-time{
    display: none !important;
}
.modal-art-img {
    width: 33% !important;
}
@media (max-width: 576px) { 
    .queue-subtitle{
        display: none;
    }
    .artist{
        max-width: 10.7em;
    }
    .modal-time{
        display: flex !important;
    }
    .modal-art{
        position:relative;
        margin-bottom: -1.5em;
        /* top: 0; */
      }
      .modal-art>div > img{
        max-width: 75%;
      }
      .modal-art > div {
        max-width: 100%;
      }
    .list{
        flex-direction: row !important;
    }
    
    .side-nav{
        display: none;
    }
    .side-nav-open{
        display: flex;
    }
    .size-nav-size{
        height:auto;
    }
    .nav-btn{
        display: flex;
    }
    .nav-btn-animate > span{
        transform-origin: center;
    }
    .nav-btn-animate{
        transform: rotate(-90deg);
    }
    .nav-btn-animate > span:nth-child(odd){
        transform: rotate(45deg);
    }
    .nav-btn-animate > span:nth-child(even){
        transform: rotate(-45deg);
    }
    .player-play{
        bottom: 0 !important;
    }
    #play-control{
        order: 2;
    }
    #more-control{
        display: none !important;
    }
    .player-text{
        max-width: 55%;
        justify-content:flex-start;
        transform: translateX(0%);
    }
    .player-text > div{
        max-width: 100% !important;
    }
    .slider::-webkit-slider-thumb  {
        width: 10px;
        height: 10px;
        opacity: 1;
        transition: all 150ms ease-in;
      }
      .add-playlist-form{
        top: 2.5em !important;
      }
      .card{
        align-self: flex-start !important;
        width: max-content !important;
        width: 100% !important;
        /* flex-direction: row !important; */
        font-size: smaller !important;
      }
      .card > div > h2 {
        text-overflow: ellipsis;
      }
      .card-box{
        /* background: red; */
        width: 46.6%;
      }
      .show-btns{
        background: transparent;
        opacity: 1;
        right: 55%;
        transform: translateX(50%);
        justify-content: flex-start;
      }
      .playlist-links{
        flex-wrap: wrap;
      }
      .playlist-card{
        width: 170px !important;
        aspect-ratio: 1/1 !important;
      }
      .playlist-card  > h2{
        font-size: 1.4em !important;
        color: whitesmoke;
        /* background: #101012; */
      }
      .song-modal{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateY(7%);
      }
}
